.dashboard{
    width: 97vw;
    flex-grow: 1;
    padding: 15px;
    display: grid;
    place-content: center;
    border: 1px solid firebrick;
}
.userImgBx{
 width: 90%;
 border: 1px solid red;
 border-radius: 50%;
 height: 310px;
}
.userAva{
    width: 100%;
    border-radius: 50%;
}