.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 97vw;
    margin-top: 15px;
    margin-inline: auto;
    position: relative;
}
