.home{
    flex-grow: 1;
   
    max-width: 96vw;
    padding: 30px;
}
.home-title{
    
    margin-bottom: 20px;
}
.Trendfeed-container{
    display: flex;
    margin-bottom: 30px;
}
.imgBx{
    margin-right: 20px;
}

.feedImg{
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 15px;
}
.authorBx{
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 10px;

}
.authorImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #4942e4;
}
.authorBx .authorname{
   margin-left: 10px;

    
}
.feedText .body{
    font-size: 24px;
}
.feedText .body .readMoreLink{
    color: #333;
    opacity: .6;
    font-size: 17px;
}
.feedText .title{
    margin-bottom: 10px;
}
@media(max-width:620px){
    .Trendfeed-container{
        flex-wrap: wrap;
        
    }
    .feedImg{
        width: 100%;
        height: 300px;
        
    }
}

