@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    background-color: #eee;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.layout{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}
.btn{
    width: 100px;
    height: 35px;
    border: none;
    background-color: #b6bbc4;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 0 80px rgba(0,0,0,0.2);
}